<div class="row">
    <div class="col-md-12">
        <div class="sidenav">
            <button class="menubtn">
                <a [routerLink]="['/user-dashboard']"> <i class="fas fa-home" style="margin-right: 10px"> </i>
                    Home </a>
            </button>
            <button type="button" class="menubtn">
                <a [routerLink]="['/user-dashboard/questions']"> 
                <i class="fas fa-question-circle" style="margin-right: 15px"></i>Questions</a>
            </button>
            <button class="menubtn" (click)="logout()">
                <i class="fas fa-sign-out-alt" style="margin-right: 15px"></i>Logout
            </button>
        </div>
    </div>
</div>