<table class="orangeTable">
  <tbody>
    <tr class="searchRow">
      <td><input placeholder="question" [(ngModel)]="questiontosearch.question"></td>
      <td><input placeholder="topic" [(ngModel)]="questiontosearch.topic"></td>
      <td>
          <select [(ngModel)]="questiontosearch.recruiter">
              <option [ngValue]="undefined" hidden selected>choose a recruiter</option>
              <option *ngFor="let r of recruiters" [ngValue]="r">{{r.name}}</option>
          </select>
      </td>
      <td>
          <select [(ngModel)]="questiontosearch.company">
              <option [ngValue]="undefined" hidden selected>choose a company</option>
              <option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
          </select>
      </td>
      <td>
          <select [(ngModel)]="questiontosearch.sector">
              <option [ngValue]="undefined" hidden selected>choose a sector</option>
              <option *ngFor="let s of sectorList" [ngValue]="s">{{s}}</option>
          </select>
      </td>
      <td>
          <button class="btn btn-search" (click)="search()"><i class="fas fa-search"></i>Search</button>
      </td>
      <td>
          <button (click)="clearSearch()">Clear</button>
      </td>
    </tr>
    <tr>
      <th>Question</th>
      <th>Topic</th>              
      <th>Recruiter</th>
      <th>Company</th>
      <th>Sector</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>
        <input placeholder="insert question" [(ngModel)]="questiontoinsert.question">
      </td>
      <td>
        <input placeholder="insert topic" [(ngModel)]="questiontoinsert.topic">
      </td>              
      <td>
          <select [(ngModel)]="questiontoinsert.recruiter" (change)="setCompanyAndSector()">
              <option [ngValue]="undefined" hidden selected>choose a recruiter</option>
              <option *ngFor="let r of recruiters" [ngValue]="r">{{r.name}}</option>
          </select>
      </td>
      <td>
          <input id="companyField" disabled type="text">
      </td>
      <td>
          <input id="sectorField" disabled type="text">
      </td>
      <td>
        <button (click)="insert(questiontoinsert)">Insert</button>
      </td>
      <td>
        <button (click)="clear()">Clear</button>
      </td>
    </tr>
    <tr *ngFor="let question of questions">
      <td>
        <input [(ngModel)]="question.question">
      </td>
      <td>
        <input [(ngModel)]="question.topic">
      </td>
      <td>
          <select (change)="changeCompanyAndSector(question, $event.target.value)">
            <option [selected]="question.recruiter.id==r.id" *ngFor="let r of recruiters" [value]="r.id">{{r.name}}</option>
          </select>
      </td>
      <td>
          <input disabled [(ngModel)]="question.company.name">
      </td>
      <td>
          <input disabled [(ngModel)]="question.sector">
      </td>
      <td>
        <button (click)="update(question)">Save</button>
      </td>
      <td>
        <button (click)="delete(question)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>