<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recruiter">
            <h2><span jhiTranslate="gatewayApp.interviews1Recruiter.detail.title">Recruiter</span> {{recruiter.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.interviews1Recruiter.name">Name</span></dt>
                <dd>
                    <span>{{recruiter.name}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.interviews1Recruiter.companyId">Company Id</span></dt>
                <dd>
                    <span>{{recruiter.companyId}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.interviews1Recruiter.companyName">Company Name</span></dt>
                <dd>
                    <span>{{recruiter.companyName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recruiter', recruiter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
